$black: #000;

$dark: #191a20;
$primary: #3f4150;
$secondary: #5b5b5b;
$tertiary: #8c8d96;

$border: #e0e2e7;

$background: #f7f8fa;

$white: #fff;

$green: #00a88f;
$green-dark: #007866;
$green-light: #99cec6;

$blue: #3da5f5;
$blue-dark: #3186c4;

$red: #f86d7d;
$red-dark: #c05562;
