@import './constants/colors';

* {
  font-family: 'Spoqa Han Sans Neo', 'Spoqa Han Sans JP', sans-serif;
}
#root,
body {
  width: 100vw;
  height: 100vh;
  min-width: 300px;
  overflow: hidden;
  background-color: #eee !important;
}
